$primary-color: #1d1d1d;
$secondary-color: #1f5fc8;
$lightGrey: #ccc;

$errorBGcolor: #f8d7da;
$errorTextColor: #721c24;
$errorBorderColor: #ffeeba;

$warningBGcolor: #fff3cd;
$warningTextColor: #856505;
$warningBorderColor: #ffeeba;

$sucessBgcolor: #d4edda;
$sucessTextColor: #155724;
$sucessBorderColor: #c3e6cb
