@use 'colors';
.card{
    border: 1px solid colors.$lightGrey;
    padding: 1rem;
    flex: 1 1 calc(33% - 20px); 
    min-width: 250px;
    border-radius: 5px;
}

.sucess{
    
}

.warning{

}

.error{

}